
@{
    ViewBag.Title = "Institucional";
    Layout = "~/Views/Shared/_ConradLayout.cshtml";
}


<h2 class="Titulo">Institucional</h2>
<div id="divMain" class="container-master">
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="col-1">
            Somos uma Empresa de prestação de serviços desde XXXXX.<br />
            Temos nosso foco em auditoria empresarial nas seguintes áreas:
            <ul>
                <li>Auditoria financeira</li>
                <li>Auditoria fiscal</li>
                <li>auditoriaAuditoria contábil</li>
                <li>Auditoria patrimonial</li>
                <li>Auditoria de departamento de pessoal</li>
                <li>Auditoria de sistemas de informações</li>
                <li>Auditoria de estoque</li>
                <li>Auditoria de custos</li>
            </ul>
        </div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="SubTitulo">Um pouco sobre a Contabilidade</div>
        <div class="col-1" style="text-align:justify;">
            Há relatos de que as primeiras manifestações contábeis datam de cerca de 2.000 a.C, com os sumérios. Num mercado baseado na troca de mercadorias,
            a contabilidade servia para definir quanto alguém possuia de uma determinada mercadoria e qual o valor de troca dessa mercadoria em relação a outra.<br />
            A contabilidade iniciou-se empiricamente. Com Leonardo Fibonacci e depois o monge Luca Pacioli, principal divulgador do método das partidas dobradas,
            encerrou-se a fase empírica e menos organizada da contabilidade a partir do século XV. <br />
            A chamada escola inglesa (Francis Bacon, Locke, Hume) contestou o excesso de especulação científica e concebeu o Empírico como um critério determinante
            do que seria ciência ou não (indução empírica, segundo o sociólogo Pedro Demo).
        </div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
</div>

