
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_ConradLayout.cshtml";
}

<h2>Home</h2>
<div id="divMain" class="container-master">
    <div style="display:table-row;">
        <div class="col-3">Content</div>
        <div class="col-3">Content</div>
        <div class="col-3">Content</div>
    </div>
</div>

 