
@{
    ViewBag.Title = "Serviços";
    Layout = "~/Views/Shared/_ConradLayout.cshtml";
}

<h2 class="Titulo">Serviços</h2>
<div id="divMain" class="container-master">
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="col-1">Content Client Text</div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="col-1">Content Client Text</div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
</div>
 