
@{
    ViewBag.Title = "Serviços";
    Layout = "~/Views/Shared/_ConradLayout.cshtml";
}

<h2 class="Titulo">Serviços</h2>
<div id="divMain" class="container-master">
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="SubTitulo">Auditoria Contábilt</div>
        <div class="col-1" style="text-align:justify;">
            A <strong>AUDITORIA CONTÁBIL</strong> é o ramo da contabilidade que tem a função de verificar a precisão dos registros contábeis com a finalidade de combater a fraudes e prevenir
            irregularidades dentro de uma empresa. Ela fornece informações seguras e transparentes e possibilita a identificação de falhas no controle interno e no sistema financeiro da empresa.<br />
            Esta auditoria pode ser realizada em qualquer empresa , de qualquer tamanho, com ou sem fins lucrativos. Ela examina a exatidão dos registros tendo como foco diversos aspectos da
            empresa tais como o administrativo, patrimonial, fiscal, técnico, financeiro, econômica e ético. O relatório de auditoria deverá possibilitar a identificação dos problemas observados,
            as consequências e possíveis recomendações para a correção.<br />
            Nosso trabalho é justamente este, coletar e analisar informações, apontar erros e riscos a saude de seu negócio.

        </div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
    <!-- Linha-->
    <div style="display:table-row;">
        <div class="col-1">Content Client Text</div>
    </div>
    <!-- Linha-->
    <div style="display:table-row;">&nbsp;</div>
</div>
